@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
*{
    font-family:Preahvihear ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(27, 27, 44);
    max-width: 85%;

}
.container{
    max-width: 85%;
    height: 3500px;
    margin: 0 auto;
    background-color:#020619 ;
}
.big-div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.section-nav{
    border: 0px solid #ffffff;
    width: 100%;
    height: 120px;
    background-color: #091030;
    color: aliceblue;
    display: flex;
    align-items: center;s
    padding: 0 30px;
}

.section-nav ul{
    display: flex;
    list-style: none;
    gap: 100px;
    margin-left: 650px;
}

.section-nav ul li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
.section-nav .section-nav-img img{
    margin-left: 100px;
    display: inline;
    justify-content: start;
    display: flex;
}
.section-nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}
.card-text{
    color: #d9d9d9;
    text-align: center;
    margin-top: 130px;
}
span{
    color: #7127ba;
}
.card-text h1{
    font-size: 44px;
    margin-bottom: 30px;
}
.card-text h2{
    margin-left: 300px;
    font-size: 27px;
    margin-top: -15px;
}
.card-img{
    display: flex;
    margin-left: 200px;
}
.card-img img:nth-child(3){
    margin-left: 110px;
    margin-top: 25px;
}
.card-icon{
    position: relative;
    display: block;
    width: 250px;
    height: 300px;
    z-index: 14;
    top: 40px;
    left: 60px;
}
.card-img .card-2icon{
    position: absolute;
    display: block;
    z-index: 10;
}
.card-3icon{
    position: absolute;
    width: 150px;
    left: 640px;
    display: inline;
    top: 330px;   
}
.card-main p{
    font-family: Preahvihear ;
    color: #d9d9d9;
    font-size: 34px;
    margin-left: 700px;
    margin-top: -180px;
}
.card-main span{
    margin-left: 320px;
}
.card-main span:nth-child(4) {
    margin-left: 220px;
    color: #d9d9d9;
}
.two-card{
    margin:200px 0 45px 0;
    border: 1px solid #0e1847;
    box-shadow: 1px 0px 3px  #ffffff ;
    width: 100%;
    height: 570px;
    background-color: #091030;
    padding: 25px;
    border-radius: 12px;
}
.titul {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #808080;
    text-align: center;
    font-size: 64px;
}
.derection-box{
    display: flex;
    margin: 0 130px;
    margin-top: 40px;
}
.derection-box img{
  margin: 0 90px;
}
.derection-icon h3{
    margin-left: 100px;
    color: #FFFFFF;
    font-size: 25px;
}

.derection-icon:nth-child(2) h3:nth-child(2) {

    margin-left: 100px;
    display: inline-block;
}
.derection-icon:nth-child(2) h3:nth-child(3){
    margin-left: 107px;
}
.derection-icon:nth-child(1) h3:nth-child(2){

    margin-left: 90px;
    display: inline-block;
}
.derection-icon:nth-child(1) h3:nth-child(3){
    margin-left: 95px;
}
.derection-icon:nth-child(3) h3:nth-child(2){

    margin-left: 110px;
    display: inline-block;
}
.derection-icon:nth-child(3) h3:nth-child(3){
    margin-left: 116px;
    
}
.derection-icon:nth-child(4) h3:nth-child(3){
    margin-left: 126px;
}
.derection-icon h3:nth-child(3){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 40%;
    margin-top: 10px;
    font-style:initial;
}
 
.qisqacha{
    margin-top: 20px;
    display: flex;

}
.qisqacha img{
    margin-left: 160px;
    margin-top: 15px;
    width:150px;
    height: 140px;
}
.qisqacha h3{
    /* opacity: 45%; */
    margin-left: 60px;
    font-size: 34px;
    margin-top: 20px;
    padding: 0 100px 0 10px;
    color:#203ff3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}


.third-card{
    color: #464c97;
    margin: 0 0 30px 0;
}
.card-main h2{
    font-size: 54px;
    margin-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.personal-foto{
    margin-top: 50px;
    margin:0 0 100px 0;
    padding: 0 0 0 50px;
    display: flex;
}
.personal-foto img{
    width: 370px;
    border-radius: 7px 50px 7px 50px;
    border: 1px solid white;transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.personal-foto img:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);  
    transform: translateY(-7px); /
}
.card-main h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0 140px 0 70px;
    font-size: 45px;
    color: #33336b94;
    text-shadow: 1px 4px #91a0ff;
    text-align: center;
    margin-top: 50px;
}
.card-image{
    display: flex;
    margin-top: 75px;
    margin-left: 50px;
}
.card-image img{
    width:600px;
    transition: transform 0.3s ease;
}
.card-image img:hover{
    transform: translateY(-7px);
}
.card-image h3{
    color: #33336b94;
    margin-top: 20px;
    text-align:start;
    text-shadow: 1px 4px #91a0ff;
    font-size: 44px;
    padding: 0 50px 0 70px;

}
.contact{
    color: #FFFFFF;

}
.murojaat{
    margin: 10px auto 0 auto;
    /* margin-left: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
.murojaat label{
    font-size: 20px;
    margin-left: -45%;
}
form input{
    background-color: #FFFFFF;
    color: #000;
    font-size: 24px;
    border-radius: 8px;
    width: 50%;
    height: 50px;
    padding: 0 20px 0 15px;
}
.murojaat input:hover{
    color: #FFFFFF;
    background-color: #91a0ff;
}
.murojaat .obichni{

    width: 50%;
    height: 150px;
    font-size: 22px;
    border-radius: 12px;
    padding: 0 5px;
}
.obichni:hover{
    background-color: #91a0ff ;
    color: #FFFFFF;
}
.contact h2{
    font-size: 44px;
    text-align: center;
    margin-top: 20px;

}

.button{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0e1847;
    border: none;
    border-radius: 12px;
}
@media screen and (max-width:768px){
    body{
        background-color: #3b0e3b;
    }

    h1{
        font-size: 30px;
    }
}

@media (max-width:640px;){
    body{
        background-color: yellowgreen;
    }
    h1{
        font-size: 20px;
        font-weight: 400;
    }

}


@media screen and (max-width: 420px) {

    body,
    .container {
        max-width: 100%;
        margin: 0;
    }

  
    .section-nav {
        flex-direction: column;
        height: auto;
        padding: 20px 10px;
        text-align: center;
    }

    .section-nav ul {
        flex-direction: column;
        gap: 20px;
        margin-left: 0;
        margin-top: 15px;
    }

    .section-nav .section-nav-img img {
        margin-left: 0;
    }

    .card-text {
        margin-top: 60px;
        padding: 0 10px;
    }

    .card-text h1 {
        font-size: 26px;
    }

    .card-text h2 {
        font-size: 18px;
        margin-left: 0;
        margin-top: 10px;
    }

    .card-img {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .card-img img {
        width: 90%;
        margin: 15px 0;
    }

    .card-icon,
    .card-2icon,
    .card-3icon {
        display: none; /* telefon uchun yashiramiz */
    }

    /* TEXT BLOCK */
    .card-main p {
        font-size: 20px;
        margin: 20px auto;
        text-align: center;
    }

    .card-main span {
        margin-left: 0;
        display: block;
        text-align: center;
    }

    /* TWO CARD SECTION */
    .two-card {
        height: auto;
        margin: 80px 0 30px 0;
    }

    .titul {
        font-size: 36px;
    }

    .derection-box {
        flex-direction: column;
        margin: 20px 0;
        align-items: center;
    }

    .derection-box img {
        margin: 20px 0;
    }

    .derection-icon h3 {
        margin-left: 0;
        text-align: center;
    }

    /* QISQACHA */
    .qisqacha {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .qisqacha img {
        margin-left: 0;
    }

    .qisqacha h3 {
        margin-left: 0;
        font-size: 22px;
        padding: 0 15px;
    }

    /* PERSONAL FOTO */
    .personal-foto {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .personal-foto img {
        width: 90%;
        margin-bottom: 20px;
    }

    /* IMAGE + TEXT */
    .card-image {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .card-image img {
        width: 90%;
    }

    .card-image h3 {
        font-size: 26px;
        padding: 10px;
        text-align: center;
    }

    /* CONTACT FORM */
    .murojaat label {
        margin-left: 0;
        align-self: flex-start;
        font-size: 16px;
    }

    form input,
    .murojaat .obichni {
        width: 90%;
        font-size: 18px;
    }

    .contact h2 {
        font-size: 28px;
    }

    .button {
        width: 90%;
        padding: 12px;
        margin-top: 15px;
    }
}


